extends shared/theme
append head
 title Admin Console
block pageSpecNav
 p.navbar-text List of Humans
block content
 p. 
  This page will contain all of the users that have been created in a pretty table. 
